@import 'mediawiki.skin.variables.less';

.mw-special-OATHManage {
	&-password {
		&__form {
			border: @border-subtle;
			border-radius: @border-radius-base;
			padding: @spacing-100;
		}

		// Higher specificity needed to override margins set on .mw-body p
		& &__label {
			color: @color-subtle;
			margin-top: 0;
		}
	}

	&-password,
	&-authmethods {
		margin-bottom: @spacing-150;
	}

	&-authmethods {
		// On wide screens, put the actions buttons side by side
		@media ( min-width: @min-width-breakpoint-tablet ) {
			&__method-actions {
				display: flex;
				gap: @spacing-75;
			}
		}

		// Put the add buttons below each other, regardless of screen width
		&__addform .cdx-button {
			display: block;
			margin-top: @spacing-75;
		}

		// Higher specificity needed to override margins set on .mw-body p
		& &__placeholder {
			color: @color-subtle;
			margin-top: 0;
		}

		&--no-keys &__addform {
			border: @border-subtle;
			padding: @spacing-100;
		}

		// TODO use outlined accordions once those are available in Codex
		.cdx-accordion {
			border: @border-subtle;
		}

		.cdx-accordion + .cdx-accordion {
			margin-top: -@spacing-6;
		}
	}

	&-delete-warning {
		// On wide screens, put the "delete" and "cancel" buttons side by side
		@media ( min-width: @min-width-breakpoint-tablet ) {
			&__actions {
				display: flex;
				gap: @spacing-75;
			}
		}
	}

	@media ( max-width: @max-width-breakpoint-mobile ) {
		// On narrow screens, make all buttons full width
		.cdx-button {
			display: block;
			width: 100%;
			margin-top: @spacing-75;
		}
	}
}
